<%= form_with(model: biography, local: true) do |form| %>
  <% if biography.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(biography.errors.count, "error") %> prohibited this biography from being saved:</h2>

      <ul>
        <% biography.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :biography %>
    <%= form.text_field :biography %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
