<p id="notice"><%= notice %></p>

<h1>Biographies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Biography</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @biographies.each do |biography| %>
      <tr>
        <td><%= biography.name %></td>
        <td><%= biography.biography %></td>
        <td><%= link_to 'Show', biography %></td>
        <td><%= link_to 'Edit', edit_biography_path(biography) %></td>
        <td><%= link_to 'Destroy', biography, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Biography', new_biography_path %>
