<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @biography.name %>
</p>

<p>
  <strong>Biography:</strong>
  <%= @biography.biography %>
</p>

<%= link_to 'Edit', edit_biography_path(@biography) %> |
<%= link_to 'Back', biographies_path %>
